.boat-progress-notification {
    .notification-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .progress-notification--message {
            width: 100%;
            margin-bottom: 6px;
            font-size: 14px;
            line-height: 22px;
            color: rba(var(--boat-primary-color));
            text-align: left;
        }

        .progress-notification--bar {
            width: 100%;
            height: 14px;
            border-radius: 12px;
            overflow: hidden;
            padding: 3px;
            background: transparent;
            border: 1px solid;
            border-color: rgb(var(--boat-primary-color));

            &__inner {
                height: 100%;
                background: rgb(var(--boat-primary-color));
                border-radius: 12px;
                transition: all 0.3s linear;
            }
        }
    }

    .progress-notification--operations {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    &--success {
        .notification-content {
            .progress-notification--bar {
                border-color: rgb(var(--boat-success-color));
                &__inner {
                    background: rgb(var(--boat-success-color));
                }
            }
        }
    }

    &--error {
        .notification-content {
            .progress-notification--bar {
                border-color: rgb(var(--boat-error-color));
                &__inner {
                    background: rgb(var(--boat-error-color));
                }
            }
        }
    }
}
