.boat-rotate-menu {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;

    .menu-toggler {
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        border-radius: 50%;

        &::before {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 1;
            transform: rotate(0deg);
            transform-origin: center;
            background: conic-gradient(
                from 0deg,
                #79b7f1,
                #6eb8e9,
                #5ac8fa,
                #7ad0f7,
                #9ad8f5,
                #95d6f5,
                #badcf0,
                #85c0f5,
                #72b4f5
            );
            animation: rotateCircle 1s linear infinite;
        }

        .toggler-content {
            width: 50px;
            height: 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3px;
            border-radius: 50%;
            background: rgba(var(--boat-white-color), 1);
            z-index: 2;

            &::before,
            &::after,
            &__line {
                width: 30px;
                height: 5px;
                border-radius: 3px;
                background: rgba(var(--boat-primary-color), var(--boat-normal-opacity));
            }

            &::before,
            &::after {
                display: block;
                content: '';
                transition: 0.5s;
            }

            &__line {
                transition: 0.2s;
            }
        }
    }

    .menu-item {
        width: 70px;
        height: 70px;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;

        &__icon {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(var(--boat-primary-color), var(--boat-normal-opacity));
            background: rgba(var(--boat-primary-color), var(--boat-hover-opacity));
            border-radius: 50%;
            font-size: 40px;
            pointer-events: none;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 0 2px rgba(var(--boat-primary-color), var(--boat-hover-opacity));
                background: rgba(var(--boat-primary-color), var(--boat-hover-opacity));
                color: rgb(var(--boat-primary-color));
                font-size: 45px;

                .boat-icon {
                    font-size: 45px;
                }
            }

            .boat-icon {
                font-size: 40px;
                transition: font-size 0.2s;
            }
        }
    }

    &.is-expand {
        .menu-toggler {
            .toggler-content {
                &::before,
                &::after {
                    position: absolute;
                    transform-origin: center;
                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
                &__line {
                    background: transparent;
                }
                &:hover {
                    .toggler-content__line {
                        background: transparent;
                    }
                }
            }
        }

        .menu-item {
            &__icon {
                pointer-events: auto;
            }
        }
    }

    @keyframes rotateCircle {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
