.boat-rotate-menu {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;

    .menu-toggler {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 10;

        &::before,
        &::after,
        &__line {
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 3px;
            background: rgba(var(--boat-primary-color), var(--boat-normal-opacity));
            transition: all 0.5s;
        }

        &::before,
        &::after {
            display: block;
            content: '';
        }
        &::before {
            top: 10px;
        }
        &__line {
            top: 20px;
        }
        &::after {
            top: 30px;
        }

        &:hover {
            &::before,
            &::after,
            &__line {
                background: rgb(var(--boat-primary-color));
            }
        }
    }

    .menu-item {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80px;
        height: 80px;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;

        a {
            display: block;
            width: inherit;
            height: inherit;
            line-height: 80px;
            color: rgba(var(--boat-primary-color), var(--boat-normal-opacity));
            background: rgba(var(--boat-primary-color), var(--boat-hover-opacity));
            border-radius: 50%;
            text-align: center;
            text-decoration: none;
            font-size: 40px;
            pointer-events: none;
            transition: 0.2s;

            &:hover {
                box-shadow: 0 0 0 2px rgba(var(--boat-primary-color), var(--boat-hover-opacity));
                background: rgba(var(--boat-primary-color), var(--boat-hover-opacity));
                color: rgb(var(--boat-primary-color));
                font-size: 45px;
            }
        }
    }

    &.is-expand {
        .menu-toggler {
            &::before,
            &::after {
                top: 18px;
                transform-origin: 50% 50%;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
            &__line {
                background: transparent;
            }
        }

        .menu-item {
            a {
                pointer-events: auto;
            }
        }
    }
}
