$notification-types: (
    'primary': '--boat-primary-color',
    'success': '--boat-success-color',
    'error': '--boat-error-color',
    'warning': '--boat-warning-color',
    'info': '--boat-info-color',
);

@mixin notification-base {
    position: fixed;
    width: 400px;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    z-index: 9999;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

@mixin notification-header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin notification-type($var) {
    background: rgba(var(#{$var}), var(--boat-deep-opacity));
    box-shadow: 0 4px 12px rgba(var(#{$var}), var(--boat-deep-opacity));

    .notification-header {
        &__icon {
            color: rgb(var(#{$var}));
        }
        &__title {
            color: rgb(var(#{$var}));
        }
        &__close {
            .boat-icon {
                color: rgba(var(#{$var}), var(--boat-normal-opacity));
            }
            &:hover,
            &:active {
                .boat-icon {
                    color: rgb(var(#{$var}));
                }
            }
        }
    }

    .notification-content {
        color: rgb(var(#{$var}));
    }
}

.boat-notification {
    @include notification-base;
    @include notification-type('--boat-primary-color');

    .notification-header {
        @include notification-header;

        &__icon {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .boat-icon {
                font-size: 16px;
            }
        }

        &__title {
            flex: 1;
            flex-shrink: 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding: 0 8px 0 4px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__close {
            width: 18px;
            height: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.05s;

            .boat-icon {
                font-size: 18px;
            }
        }
    }

    .notification-content {
        width: 100%;
        height: fit-content;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 6px;

        p {
            padding: 0;
            margin: 0;
        }
    }

    .notification-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 6px;
    }

    &.top-right,
    &.bottom-right {
        right: 16px;
    }

    &.top-left,
    &.bottom-left {
        left: 16px;
    }

    @each $type, $var in $notification-types {
        @if $type != 'primary' {
            &--#{$type} {
                @include notification-type($var);
            }
        }
    }
}
